<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ exercise.name}}</title>
</head>
<body>
    <h1>{{ exercise.name }}</h1>
    <p>{{ exercise.description }}</p>

    <ul>
        <li>Number of player: {{exercise.number_of_player}}</li>
        <li>Duration: {{exercise.duration}}</li>
        <li>Difficulty: {{exercise.difficulty}}</li>
    </ul>

    <a href="/admin/exercise/{{exercise.pk}}/delete">Delete</a>
    <p><a href="/admin/exercise/{{exercise.pk}}/edit">Edit</a></p>
</body>
</html>