<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ exercise.name }} - Deletion</title>
</head>
<body>
    <header>
        <a href="/">Accueil</a>
        <a href="/admin/exercices">Exercices</a>
        <a href="/admin/categories">Categories</a>
        <a href="/admin/tags">Tags</a>
    </header>
    <h1>Deletion</h1>
    <form method="POST">
        {% csrf_token %}

        <p>Are you sure you want to delete {{exercise.name }}?</p>

        <input type="submit" value="Delete">

        <p><a href="/admin/exercise/{{ exercise.pk }}/detail">Back</a></p>
    </form>
</body>
</html>