{% extends 'front_base.html' %}

{% block title %}<title>Coaching Drill</title>{% endblock %}

{% block content %}
<div class="header">
    <h1>Exercises</h1>
</div>
<div class='search-bar'>
    <form method='get'>
        <span class="material-icons">
            search
        </span>
        <input type="text" placeholder="Search for exercise" name='search'>
        <input class='search-button' type="submit" value='Search'>
    </form>
</div>
{% if not exercises %}
<p>No result</p>
{% else %}
<div id=list>
    <table>
        <thead class="table-header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Difficulty</th>
                <th>Number of players</th>
                <th>Duration</th>             
            </tr>
        </thead>
        {% for exercise in exercises %}
        <tbody>
            <tr class="listing">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.category }}</td>
                <td class="tags">{% for tag in exercise.tag.all %}
                    <div>{{ tag.name }}</div>
                {% endfor %}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.number_of_player }}</td>
                <td>{{ exercise.duration }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div>
        <p>{{ count }} exercises</p>
    </div>
</div>
{% endif %}
{% endblock %}