{% extends 'front_base.html' %}
{% load custom_tag  %}

{% block title %}<title>Coaching Drill</title>{% endblock %}

{% block content %}
<div class="header">
    <h1>Exercises</h1>
</div>
<div>
    <p>Filters</p>
</div>
<form method="GET">
    <div class='filters'>
        {% for field in form %}
            <label class='filter-label'>{{ field.label }}</label>
            {% if field.name == 'categories' %}
            <div class='filter-categories'>
                {% for choice in form.categories %}
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %}
            </div>
            {% elif field.name == 'tags' %}
            <div class='filter-tags'>
                {% for choice in form.tags %}
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %} 
            </div>
            {% elif field.name == 'research' %}
            <div class='filter-research'>
                <span> {{ field }}</span>
            </div> 
            {% elif field.name == 'like' %}
            <div class='like2'>
                {{ field }}
            </div>
            {% endif %}
        {% endfor %} 
        <div class=filter-button> 
            <input type="submit" value='Filter'>
        </div>
    </div>  
</form>
{% if not exercises %}
<p>No result</p>
{% else %}
<div id=list>
    <table>
        <thead class="table-header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Difficulty</th>
                <th>Number of players</th>
                <th>Duration</th>
                {% if request.user.is_authenticated %}
                <th>Favourite</th>
                {% endif %}             
            </tr>
        </thead>
        {% for exercise in exercises %}
        <tbody>
            <tr class="listing">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.category }}</td>
                <td class="tags">{% for tag in exercise.tag.all %}
                    <div>{{ tag.name }}</div>
                {% endfor %}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.number_of_player }}</td>
                <td>{{ exercise.duration }}</td>
                {% if request.user.is_authenticated %}
                    {% if exercise.user_like %}
                        <td>
                        <span id='like_{{exercise.pk}}' onclick="like('{{ exercise.pk }}')" class='fav2'><span class="material-icons">
                            thumb_up
                            </span></span>
                        <span id='like_number_{{exercise.pk}}'>{{ exercise.like_number }}</span>
                        </td>
                    {% else %}
                    <td>
                        <span id='like_{{exercise.pk}}' onclick="like('{{ exercise.pk }}')" class='fav'><span class="material-icons">
                            thumb_up
                            </span></span>
                        <span id='like_number_{{exercise.pk}}'>{{ exercise.like_number }}</span>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div>
        <p>{{ count }} exercises</p>
    </div>
    <div class="pagination">
        <span class="pages">
            {% if page_obj.has_previous %}
                <a href="?{% replace_page 1 %}">&#171</a>
                <a href="?{% replace_page page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    
            
        <span class="current">{{ page_obj.number }}</span>
            
    
            {% if page_obj.has_next %}
                <a href="?{% replace_page page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                <a href="?{% replace_page page_obj.paginator.num_pages %}">&#187</a>
            {% endif %}
        </span>
    </div>  
</div>
{% endif %}
{% endblock %}
{% block custom_js %}
<script>
    function like(pk) {
        let url = '/fav/' + pk
        axios.post(url, {})
        .then(reponse => {
            console.log(reponse.data)
            let like_action = reponse.data.message
            let element = document.getElementById('like_' + pk)
            let like_number = document.getElementById('like_number_' + pk)
            if(like_action == 'liked') {
            like_number.innerHTML = parseInt(like_number.innerHTML) + 1
            element.classList.add('fav2')}
            else {
            like_number.innerHTML = parseInt(like_number.innerHTML) - 1
            element.setAttribute('class', 'fav')}
        })
        .catch(error => {})
    }
</script>
{% endblock %}
