{% extends 'front_base.html' %}

{% block title %}<title>Coaching Drill</title>{% endblock %}

{% block content %}
<div class="header">
    <h1>Exercises</h1>
</div>
<div class='search-bar'>
    <form method='get'>
        <span class="material-icons">
            search
        </span>
        <input type="text" placeholder="Search for exercise" name='search'>
        <input class='search-button' type="submit" value='Search'>
    </form>
</div>
{% if not exercises %}
<p>No result</p>
{% else %}
<div id=list>
    <table>
        <thead class="table-header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Difficulty</th>
                <th>Number of players</th>
                <th>Duration</th>             
            </tr>
        </thead>
        {% for exercise in page_obj %}
        <tbody>
            <tr class="listing">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.category }}</td>
                <td class="tags">{% for tag in exercise.tag.all %}
                    <div>{{ tag.name }}</div>
                {% endfor %}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.number_of_player }}</td>
                <td>{{ exercise.duration }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <div class="pagination">
            <span class="pages">
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% endif %}
            </span>
        </div>   
    </table>
</div>
{% endif %}
{% endblock %}