/* #admin base */

.main_container {
    display: flex;
    margin-top: 0px;
}

/* title bar */

header {
    height: 100px;
    background-color: white;
    border: thin solid lightgreen;
    display: flex;
    margin-bottom: 0px;
    padding: 10px;
    align-items: center;
    font-size: 50px;
}

/* sidebar  */

nav {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid thin lightgreen;
    align-items: flex-start;
    padding: 0 10px 0;
}

nav a {
    display: flex;
    align-items: center;
}

.account_logging {
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    margin: 0px;
    justify-content: start;
}

.material-icons {
    margin-right: 10px;
    font-size: 40px;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px 0px 0px;
    padding-right: 20px;
    padding-left: 13px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

/* links */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    text-decoration: none;
}

/* main content */

main {
    margin: 0px;
    padding: 20px;
    background-color: white;
    border: solid thin lightgreen;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
}

/* listing */

table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

#list {
    margin-bottom: 25px;
}

.listing {
    border: solid thick lightgreen;
    margin: 15px 0;
    border: none;
}

thead th {
    text-align: start;
    padding: 0 10px;
}


td {
    padding: 15px 10px;
    border: solid thick lightgreen;
}

.delete {
    display: block;
    padding: 5px;
    border: solid thin lightpink;
    background-color: lightsalmon;
    border-radius: 5px;
    text-align: center;
}

.edit {
    display: block;
    padding: 5px;
    border: solid thin lightskyblue;
    background-color: lightskyblue;
    border-radius: 5px;
    text-align: center;
}

