<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Creation de catégories</title>
</head>
<body>
    <header>
        <a href="/">Accueil</a>
        <a href="/admin/exercices">Exercices</a>
        <a href="/admin/categories">Categories</a>
        <a href="/admin/tags">Tags</a>
    </header>
    <h1>Création de catégories</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p}}

        <input type="submit" value="Enregistrer la catégorie">



    </form>
    
</body>
</html>