<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Création d'exercice</title>
</head>
<body>
    <header>
        <a href="/admin">Accueil</a>
        <a href="/admin/exercices">Exercices</a>
        <a href="/admin/categories">Categories</a>
        <a href="/admin/tags">Tags</a>
    </header>
    <h1>Créer un exercice</h1>
    <form method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit" value="Enregistrer l'exercice">
    </form>

</body>
</html>