{% extends 'admin/back_base.html' %}

{% block title %} <title>Categories</title> {% endblock %}
    
{%block content %}
    <div class="header">
        <h1>Categories</h1>
        <div class="add-button">
            <a href="{% url 'adding_category' %}">
                <span class="material-icons">add_circle</span>
                <span>Add a category</span>
            </a>
        </div>
    </div>
    <div id=list>
        <table>
            <thead class="tableheader">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>         
                </tr>
            </thead>
            {% for category in categories %}
            <tbody>
                <tr class="listing">
                    <td><a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a></td>
                    <td>{{ category.description }}</td>
                    <td><a class="edit" href="{% url 'edit_category' pk=category.pk %}">Edit</a></td>
                    <td><a class="delete" href="{% url 'delete_category' pk=category.pk %}">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}      
        </table>
    </div>
{% endblock %}