{% extends 'admin/back_base.html' %}
{% block title %} <title>Exercises</title> {% endblock %}
    
{%block content %}
    <div class="header">
        <h1>Exercises</h1>
        <div class="add-button">
            <a href="{% url 'adding_exercise' %}">
                <span class="material-icons">add_circle</span>
                <span>Add an exercise</span>
            </a>
        </div>
    </div>
    <div id=list>
        <table>
            <thead class="table-header">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Difficulty</th>
                    <th>Number of players</th>
                    <th>Duration</th> 
                    <th></th>
                    <th></th>              
                </tr>
            </thead>
            {% for exercise in page_obj %}
            <tbody>
                <tr class="listing">
                    <td><a href="{% url 'exercise_detail' pk=exercise.pk %}">{{ exercise.name }}</a></td>
                    <td>{{ exercise.category }}</td>
                    <td class="tags">{% for tag in exercise.tag.all %}
                        <div>{{ tag.name }}</div>
                    {% endfor %}</td>
                    <td>{{ exercise.difficulty }}</td>
                    <td>{{ exercise.number_of_player }}</td>
                    <td>{{ exercise.duration }}</td>
                    <td><a class="edit" href="{% url 'edit_exercise' pk=exercise.pk %}">Edit</a></td>
                    <td><a class="delete" href="{% url 'delete_exercise' pk=exercise.pk %}">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
            <div class="pagination">
                <span class="pages">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                    {% endif %}
                </span>
            </div>   
        </table>
    </div>
{% endblock %}