{% extends 'admin/back_base.html' %}
{% block title %} <title>Exercises</title> {% endblock %}
    
{%block content %}
    <h1>Exercises</h1>
    <div id=exercise_list>
    {% for exercise in exercises %}
        <div id='exercise'>
            <p><a href="{% url 'exercise_detail' pk=exercise.pk %}">{{ exercise.name }}</a></p>
            <p>{{ exercise.difficulty }}</p>
            <p>{{ exercise.description }}</p>
        </div>
    {% endfor %}
    </div>
    

    <p><a href="{% url 'adding_exercise' %}">Ajouter un exercice</a></p>
    
{% endblock %}
</body>
</html>