{% extends 'admin/back_base.html' %}

{% block title %} <title>Exercise's creation</title> {% endblock %}
    
{%block content %}
    <h1>Create an exercise</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form">
            {% for field in form %}
            <div class="fields">
                <div>
                    <label>{{ field.label }}
                    {% if field.field.required %}<span>* </span>{% endif %}</label>
                </div>
                {% if field.name == 'category' %}
                    {% for choice in form.category %}
                        <div class='categories'>
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                {% elif field.name == 'tag' %}
                <div class='tag'>
                    {% for choice in form.tag %}
                        {{ choice.tag }}
                        <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                    {% endfor %}
                </div>
                {% elif field.name == 'duration' %}
                    <span>{{ field }} min.</span>
               {% else %}
                    <span>{{ field }}</span>
               {% endif %}
            </div>
            {% endfor %}  
        </div>              
        <input type="submit" value="Save exercise">
    </form>
{% endblock %}