{% extends 'admin/back_base.html' %}

{% block title %} <title>Exercise's creation</title> {% endblock %}
    
{%block content %}
    <h1>Create an exercise</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form">
            {% for field in form %}
            <div class="fields">
                    <label class='field-label'>{{ field.label }} {% if field.field.required %}<span>* </span>{% endif %}</label>
                    

                    {% if field.name == 'category' %}
                    <div class='categories'>
                        {% for choice in form.category %}
                            <div class='category'>
                                {{ choice.tag }}
                                <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% elif field.name == 'tag' %}
                    <div class='tag'>
                        {% for choice in form.tag %}
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        {% endfor %}  
                    </div>
                    {% elif field.name == 'duration' %}
                        <span>{{ field }} min.</span>
                    {% else %}
                        <span>{{ field }}</span>
                    {% endif %}
            </div>
            {% endfor %}  
        </div>  
        <input type="submit" class= 'save-button' value="Save exercise">
    </form>
{% endblock %}