<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercices</title>
</head>
<body>
    <header>
        <a href="/admin">Accueil</a>
        <a href="/admin/exercices">Exercices</a>
        <a href="/admin/categories">Categories</a>
        <a href="/admin/tags">Tags</a>
    </header>
    <h1>Exercices</h1>

    {% for exercice in exercices %}
    <p>{{ exercice.name }}</p>
    {% endfor %}

    <a href="/admin/exercices/ajouter">Ajouter un exercice</a>
    
</body>
</html>