<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des tags</title>
</head>
<body>
    <header>
        <a href="/admin">Accueil</a>
        <a href="/admin/exercices">Exercices</a>
        <a href="/admin/categories">Categories</a>
        <a href="/admin/tags">Tags</a>
    </header>
    <h1>Tags</h1>
    {% for tag in tags %}
    <div>
        <a href="/admin/tag/{{tag.pk}}/detail">{{ tag.name }}</a>
        {{ tag.description }}
    </div>
    {% endfor %}

    <a href="/admin/tags/ajouter">Ajouter un tag</a>
</body>
</html>