{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    {% block title %}{% endblock %}
</head>
<body>
    <header>
        <a id="main_title" href="{% url 'index_back' %}">CoachingDrill</a>
    </header>
    <div class='main_container'>
        <nav>
            <div class="account_logging">
            {% if request.user.is_authenticated %}
            <div class='button'>
                <i class="material-icons" style="font-size:48px;">account_circle</i>
                <span><a href="{% url 'user_profile' %}">{{user.username}}</a></span>
            </div>
            {% else%}
            <div class='button'>
                <i class="material-icons" style="font-size:48px;">account_circle</i>
                <span><a href="{% url 'login' %}">Login</a></span>  
            </div>
            {% endif %}
            </div>
            <div class='menu'>
                <div class='button'>
                    <i class="material-icons">sports_soccer</i>
                    <a href="{% url 'exercise_listing' %}">Exercises</a>
                </div>
                <div class='button'>
                    <i class="material-icons">category</i>
                    <a href="{% url 'category_listing'%}">Categories</a>
                </div>
                <div class='button'>
                    <i class="material-icons">tag</i>
                    <a href="{% url 'tag_listing'%}">Tags</a>
                </div>
            </div>
        </nav>
        <main>
        {% block content %}

        {% endblock %}
        </main>
    </div>
</body>
</html>